.nav ul ul{
		position:absolute;
		float:left;
		display:block;
		width:500%;
		height:26px;
		left:-192px;
		top:44px;
		background-color:#c2d6e0;
	}
	.nav li ul li{
		list-style-type:none;
		position:relative;
		width:50%;
		background-color:#c2d6e0;	
	}
	.nav li li a{
		text-decoration:none;
		display:block;
		color:#363636;
		font:bold 12px "微软雅黑";
		padding:0.3em;
		background-color:#c2d6e0;
	}
/*content*/
.container h1{
	font:bold 14px "微软雅黑";
	color:#363636;
	margin-top:8px;
	margin-right:8px;
	line-height:14px;
	text-align:center;
}
.container h2{
	font:bold 14px "微软雅黑";
	color:#363636;
	margin-right:8px;
}
.container p{
	font:bold 8px "微软雅黑";
	color:#757575;
	line-height:16px;
}
