@charset: "UTF-8";

@import url(reset.css);

/*header*/
#header{
	width:100%;
	height:66px;
	position:relative;
	background:url(../image/about.png) center #2d5a73 no-repeat ;
}
	.rixin{
		width:105px;
		height:60px;
		position:relative;
		float:left;
		margin:7px 0 0 10px;
	}
		.rixinLogo{
			width:165px;
			height:26px;
			background:url(../image/logo.jpg) -40px -16px no-repeat ;
		}
		.headText{
			margin-top:3px;
		}
			.headText h2{
				font:bold 8px "楷体";
				color:#fff;
			}

	.homeLogo{
		width:25px;
		height:23px;
		background:url(../image/logo.jpg) -12px 0 no-repeat ;
		float:right;
		margin:22px;
	}

#mainbox{
	width:100%;
	height:440px;
}
/*About*/
.nav{
	font:500 15px "微软雅黑";
	margin-top:15px;

}	
	.nav ul{
		float:left;
		width:100%;
	}
	.nav ul li{
		float:left;
		list-style-type:none;
		position:relative;
		background-color:#69a4c5;
		width:20%;
	}
	.nav ul li a{
		display:block;
		color:#fff;
		background-color:#69a4c5;
		padding:.25em 1.1em;
		line-height:18px;
		text-align:center;
		text-decoration:none;
		display:block;
	}
	.nav ul li a:active{
		background-color:#ffbc39;
	}

/*content*/
.content{
	position:relative;
	float:left;
	width:100%;
	margin:0 auto;
	margin-top:32px;
	overflow:hidden;
}
	.tittleArea{
		margin-top:8px;
		width:98%;
		margin:0 auto;
	}
		.tittleLogo{
			width:9px;
			height:16px;
			background-color:#2d5a73;
			float:left;
			margin:2px 0 2px 6px;
		}
		.tittle{
			font:bold 15px "微软雅黑";
			color:#61605f;
			float:left;
			margin-left:4px;
			line-height:20px;
		}
		.tittleLine{
			height:1px;
			width:99%;
			background-color:#696867;
			clear:left;
		}
	.container{
		margin:0 auto;
		margin-top:9px;
		width:96%;
	}

/*footer*/
#footer{
	height: 47px;	
	width:100%;
	background-color:#2d5a73;
}

