.nav ul ul{
		position:absolute;
		float:left;
		display:block;
		width:500%;
		height:26px;
		left:-128px;
		top:44px;
		background-color:#c2d6e0;
	}
	.nav li ul li{
		list-style-type:none;
		position:relative;
		width:33%;
		background-color:#c2d6e0;	
	}
	.nav li ul li:nth-child(4){
		width:50%;
	}
	.nav li ul li:nth-child(5){
		width:50%;
	}
	.nav li li a{
		text-decoration:none;
		display:block;
		color:#363636;
		font:bold 12px "微软雅黑";
		padding:0.3em;
		background-color:#c2d6e0;
	}

/*content*/
.content{
	margin-top:56px;
}
.container h1{
	font:bold 14px "微软雅黑";
	color:#363636;
	margin-top:8px;
	margin-left:4%;
}

.container table{
	margin:0 auto;
	margin-top:15px;
	font:bold 10px "微软雅黑";
	color:#757575;
	border-collapse: collapse;
}
	.container tr{
		line-height:12px;
		max-height:15px;
	}
	.container table td{
		border-bottom:8px solid #fff;
		width:67%;
	}